# Python
__pycache__/
*.py[cod]

# Virtual environment
.venv/
venv/

# Environment variables
.env
.env.local

# Django
db.sqlite3
media/*
!media/.gitkeep
staticfiles/

# IDE / OS
.vscode/
.idea/
.DS_Store

# Logs
*.log