{% extends "core/base.html" %}
{% load static %}

{% block content %}
<link rel="stylesheet" href="{% static 'css/alternatives.css' %}">

<div class="alt-page" id="alt-page" data-consideration-id="{{ consideration_id }}">
  <div class="alt-header-row">
    <div class="alt-header-left">
      <h1 class="alt-title">카테고리별 대안 생성</h1>
      <img src="{% static 'images/Component4.png' %}" alt="단계 이동 버튼" class="alt-step-img">
    </div>
    <div class="alt-header-right">
      <img src="{% static 'images/alt-mascot.png' %}" alt="" class="alt-mascot-img">
    </div>
  </div>

  <div class="alt-cards" id="alt-cards">
    <p class="alt-loading">불러오는 중...</p>
  </div>
</div>

<script src="{% static 'js/category_alternatives.js' %}"></script>
{% endblock %}