{% load static %}
<header class="navbar">
  <div class="navbar__inner">
    <a href="{% url 'core:home' %}" class="navbar__logo">CHOEZY</a>

    <nav class="navbar__menu">
      <a href="{% url 'core:home' %}" class="navbar__link">홈</a>
      <a href="#" class="navbar__link">추가기능 1</a>
      <a href="#" class="navbar__link">추가기능 2</a>
      <a href="#" class="navbar__link">마이페이지</a>
    </nav>

    <div class="navbar__user">
      <button type="button" class="navbar__bell" aria-label="알림">
        <svg width="20" height="20" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M12 3C9.79086 3 8 4.79086 8 7V10.5C8 11.163 7.73661 11.7989 7.26777 12.2678L6.11091 13.4246C5.29848 14.2371 5.86656 15.6294 7.01142 15.6294H16.9886C18.1334 15.6294 18.7015 14.2371 17.8891 13.4246L16.7322 12.2678C16.2634 11.7989 16 11.163 16 10.5V7C16 4.79086 14.2091 3 12 3Z" stroke="white" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
          <path d="M9.5 18C9.83771 19.1652 10.8153 20 12 20C13.1847 20 14.1623 19.1652 14.5 18" stroke="white" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
        </svg>
      </button>

      {% if user.is_authenticated %}
        <span class="navbar__username">{{ user.name }}님</span>
      {% else %}
        <a href="{% url 'accounts:login' %}" class="navbar__username">로그인</a>
      {% endif %}
    </div>
  </div>
</header>